body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('background.gif') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Merienda', cursive;
    margin: 0;
}

.container {
    text-align: center;
}

.timer-container {
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    padding: 20px;
    border-radius: 50%; /* Always circular */
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); /* Glass effect */
    border: 8px solid rgba(255, 255, 255, 0.5); /* Fixed border width */
    transition: box-shadow 0.5s; /* Smooth transition for the outline */
}

.status {
    font-size: 24px;
    margin-bottom: 10px;
    color: white; /* Change text color to ensure visibility on the glass effect */
    transition: transform 0.5s ease-in-out; /* Animation transition */
}

.status.animate {
    transform: scale(1.2); /* Scale up for animation */
}

.timer {
    font-size: 48px;
    margin-bottom: 20px;
    color: white; /* Change text color to ensure visibility on the glass effect */
}

.controls {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#github-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed; /* Fixes the button in place */
    bottom: 20px; /* Adjust as needed */
    left: 50%; /* Centers the button horizontally */
    transform: translateX(-50%); /* Centers the button exactly */
}

#github-btn:hover {
    background-color: #555;
}


#start-pause {
    background-color: #4CAF50;
    color: white;
}

#reset {
    background-color: #f44336;
    color: white;
}

/* Styles for Spotify player */
.spotify-player {
    margin-top: 20px;
    width: 100%; /* Adjust to fit the container */
    max-width: 300px; /* Optional: limit the maximum width */
    margin-left: auto;
    margin-right: auto;
}

/* Styles for settings menu */
.settings-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
}

.settings-menu {
    position: absolute;
    top: 60px;
    right: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}

.settings-menu label {
    font-size: 14px;
    color: #333;
}

.settings-menu input {
    font-size: 14px;
    padding: 5px;
}

#apply-settings {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
